<h1>Log In</h1>

<div class="login-info">
<%= form_tag login_path, remote: true do %>
  <div class="field">
    <%= label_tag :username %><br />
    <%= text_field_tag :username %>
  </div>
  <div class="field">
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </div>
  <div class="actions"><%= submit_tag "Log In", :id => "login"%></div>
<% end %>
<script type="text/javascript">
$(document).ready(function() {
	$(document).on('click','input#login', function() {
      
						console.log('hello?');
	var AUTH_TOKEN = $('meta[name="csrf-token"]').attr('content');
	$.ajaxSetup({
  		beforeSend: function(xhr) {
    	xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
  		}
		}); 

  $.ajax({
      type: "POST", 
      url: "/login?&authenticity_token="+encodeURIComponent(AUTH_TOKEN), 
      data:{ username : $('#username').val() , password : $('#password').val() },
      dataType: "JSON",
      success:function(data) {
            console.log(data);
            // window.location = data.redirect_url;
        },
        error: function(xhr, status) {
            console.log(status);
        }
      });

  return false;
});	
}); 	
</script>
</div>