<h1>Log In</h1>

<div class="login-info">
<%= form_tag login_path, remote: true do %>
  <div class="field">
    <%= label_tag :username %><br />
    <%= text_field_tag :username %>
  </div>
  <div class="field">
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </div>
  <div class="actions"><%= submit_tag "Log In", :id => "login"%></div>
<% end %>
<script type="text/javascript">
	$('input#login').click(function() {
						console.log('hello?');
			            // $.ajax({
			            //     type: 'POST',
			            //     url: '//wndx-test.herokuapp.com/login',
			            //     data: { username : $('input#username').val() , password_digest : $('input#password').val() }
			            // }).done(function(data) {
			            //     if (data == 'logged in') {
			            //         console.log('sup breh');
			            //     } else {
			            //         console.log(data);
			            //     }
			            // });
        			});
</script>
</div>